* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  margin: 0 20px;
  padding: 20px 20px 0px 20px;
  font-size: 2.6em;
  color: #9b5570;
}
h3 {
  margin: 0 20px;
  padding: 0 20px 10px 20px;
  font-size: 1.25em;
  color: #9b5570;
  border-bottom: solid 4px #9b5570;
}
#main {
  margin: 0 20px;
  padding: 20px 60px;
  background: #4a5766;
  border-top: solid 3px white;
}
input[type="text"] {
  padding: 10px;
  background: none;
  color: white;
  border: 2px white solid;
}
input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
#add {
  padding: 10px 25px;
  border: solid 3px white;
  background: none;
  border-radius: 18px;
  color: white;
  font-weight: bold;
}
#add:hover {
  animation: back 0.3s ease-out forwards;
}
@keyframes back {
  from {
    background: linear-gradient(to right, white 20%, transparent 20%);
  }
  20% {
    background: linear-gradient(to right, white 40%, transparent 40%);
  }
  40% {
    background: linear-gradient(to right, white 60%, transparent 60%);
    color: #9b5570;
  }
  60% {
    background: linear-gradient(to right, white 80%, transparent 80%);
    color: #9b5570;
  }
  80% {
    background: linear-gradient(to right, white 100%, transparent 100%);
    color: #9b5570;
  }
  to {
    background: linear-gradient(to right, white 100%, transparent 100%);
    color: #9b5570;
  }
}
